.header {
    box-shadow: 2px rgba(0, 0,0,0.2);
    background-color:aqua;
}

.header__title {
    color: blanchedalmond;
    text-align:center;
    font-size: 40px;
    font-style: italic;
    border: 1px solid grey;
}

.header__banner {
    width: 400px;
}

/* recipe collection */

.recipes-collection {
    background-color: rgba(100, 33,255, 0.1);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.recipes-collection__title {
    color: greenyellow;
    font-style: italic;
    text-align: center;
}

.recipes-collection__list {
    font-size: 20px;

}

/* recipe */